#cat_list {
list-style-type: none;
padding: 0;
}

#float-nav {
position: absolute;
z-index: 1;
left: 50%;
width: 250px;
margin-left: -125px;
font-size: 21px;
text-decoration: blink;
background: white;
height: 31px;
text-align: center;
border: 1px solid;
border-top: none;
vertical-align: top;
}

#float-nav a {
text-decoration: none;
vertical-align: middle;
}

.cat {
display: inline-block;
padding: 10px;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}


th {
  text-align: left;
}

td {
  padding: 10px;
  vertical-align: top;
}