<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {

function initialize() {
  var mapOptions = {
    zoom: 5,
    center: new google.maps.LatLng(38.743373, -101.557617)
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);
  setMarkers(map, posts);
}

var posts = [
  <% @posts.each do |post| %>
  ['<%= post.title %>', <%= post.lat %>, <%= post.lng %>, <%= post.id %>],
  <% end %>
  ['Final Post', 40.136891, -119.707031, 1]
];

function setMarkers(map, locations) {

  var image = {
    url: 'img/letter_e.png',
    size: new google.maps.Size(32, 37),
    origin: new google.maps.Point(0,0),
    anchor: new google.maps.Point(0, 32)
  };

  var shape = {
      coord: [1, 1, 1, 20, 18, 20, 18 , 1],
      type: 'poly'
  };

  for (var i = 0; i < locations.length; i++) {
    var post_location = locations[i];
    var myLatLng = new google.maps.LatLng(post_location[1], post_location[2]);
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        icon: image,
        shape: shape,
        title: post_location[0],
        zIndex: post_location[3]
    });
  }
}
google.maps.event.addDomListener(window, 'load', initialize);
});
</script>

<style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<div id="float-nav"><a href='/'>Back to Homepage</a></div>
<div id="map-canvas"/>