<div class="container">
  <h1><%= @post.title %></h1>
  <p><b>Description:</b> <%= @post.description %></p>
  <p><b>Price:</b> $<%= @post.price %></p>
  <h6 class="center"><a href="/">Go Home</a></h6>
</div>